<div class="">
    <h1 class="column">Sub-Assets</h1>
</div>
<div class="small-up-2 medium-up-3 large-up-4 tiled-list">
  {{#each sub-assets as |sub-asset|}}
      <section class="column">
          <div class="callout">
              <label>{{sub-asset.name}}</label>
              <ul>
                  <li>
                    {{#if sub-asset.icon}}
                      {{sub-asset.icon}}
                    {{else}}
                        <img src="/assets/default_sub-asset_icon.jpg">
                    {{/if}}
                  </li>
                  <li>{{format-date sub-asset.date_created}}</li>
                  <li>
                    {{#if sub-asset.is_active}}
                        Status:<span class="is_active"></span>
                    {{else}}
                        Status:<span class="is_inactive"></span>
                    {{/if}}
                  </li>
              </ul>
              <div class="">
                {{#link-to "projects.details.departments" sub-asset.id class="expanded button"}}More{{/link-to}}
              </div>
          </div>
      </section>
  {{/each}}
</div>
{{outlet}}
