{{yield}}
<div class="callout">
    <label>
    {{#if user.full_name}}
      {{user.full_name}}
    {{else}}
      {{user.email}}
    {{/if}}
    </label>
    <ul>
        <li>
            {{#if user.icon}}
                {{user.icon}}
            {{else}}
                <img src="/assets/default_user_icon.jpg">
            {{/if}}
        </li>
        <li>{{format-date user.date_created}}</li>
        <li>
            {{#if user.is_active}}
                Status:<span class="is_active"></span>
            {{else}}
                Status:<span class="is_inactive"></span>
            {{/if}}
        </li>
    </ul>
    <div class="">
        {{#link-to "projects.details.departments" project.id class="expanded button"}}More{{/link-to}}
    </div>
</div>

