<div class="row section-header">
  <h1 class="column large-6">Projects</h1>
    <div class="column large-6">
        <ul class="pull-right">
            <li class="add-item">{{#link-to "projects.index.create"}}+{{/link-to}}</li>
        </ul>
    </div>
</div>
<div class="row small-up-2 medium-up-3 large-up-4 tiled-list">
  {{#each model as |project|}}
    <section class="column">

      <div class="callout">
        {{#link-to "projects.details.departments" project.id class="expanded page_tiles"}}
          <label>{{project.name}}</label>
          <ul>
              <li>
                {{#if project.icon}}
                  {{project.icon}}
                {{else}}
                    <img src="/assets/default_project_icon.jpg">
                {{/if}}
              </li>
              <li>{{format-date project.date_created}}</li>
              <li>
                {{#if project.is_active}}
                    Status:<span class="is_active"></span>
                {{else}}
                    Status:<span class="is_inactive"></span>
                {{/if}}
              </li>
          </ul>
      {{/link-to}}
      </div>
    </section>
  {{/each}}
</div>
    {{outlet}}
