{{outlet}}
<div class="row">
  <h1 class="column">Projects</h1>
</div>
<div class="row small-up-2 medium-up-3 large-up-4" data-equalizer data-equalize-on="medium">
  {{#each model as |project|}}
    <section class="project_snippet column">
        <div class="callout">
      <label>{{project.name}}</label>
      <ul>
          <li>
            {{#if project.icon}}
              {{project.icon}}
            {{else}}
              <img src="/assets/default_project_icon.jpg">
            {{/if}}
          </li>
          <li>{{project.date_created}}</li>
          <li>
            {{#if project.is_active}}
                Status:<span class="is_active"></span>
            {{else}}
                Status:<span class="is_inactive"></span>
            {{/if}}
          </li>
      </ul>
          <div class="button-group">
            <a href="projects" class="button">Edit </a>
            <a href="projects" class="button">Details</a>
          </div>
        </div>

    </section>
  {{/each}}
</div>