<div class="row">
    <div class="media-object-section">
      {{#if icon}}
        {{icon}}
      {{else}}
          <img src="/assets/default_asset_icon.jpg">
      {{/if}}
    </div>
    <div class="media-object-section project_details">
        <label>{{model.name}}</label>
        <ul>
            <li>Date: {{format-date model.date_created}}</li>
            <li>
              {{#if model.is_active}}
                  Status:<span class="is_active"></span>
              {{else}}
                  Status:<span class="is_inactive"></span>
              {{/if}}
            </li>
        </ul>
    </div>
</div>
<hr>
<div class="row other-details">
    <ul class="nav">
        <li>{{#link-to "assets.details.sub-assets" activeClass='active'}}Sub-Assets{{/link-to}}</li>
        <li>{{#link-to "assets.details.projects" activeClass='active'}}Projects{{/link-to}}</li>
        <li>{{#link-to "assets.details.users" activeClass='active'}}Users{{/link-to}}</li>
        <li>{{#link-to "assets.details.tasks" activeClass='active'}}Tasks{{/link-to}}</li>
        <li>{{#link-to "assets.details.danger" activeClass='active'}}Stranger Danger{{/link-to}}</li>
    </ul>
</div>
<div class="row">
  {{outlet}}
</div>
