{{outlet}}
<div class="row">
    <h1 class="column">Assets</h1>
</div>
<div class="row small-up-2 medium-up-3 large-up-4 tiled-list tiled-list">
  {{#each model as |asset|}}
      <section class="column">
          <div class="callout">
            {{#link-to "assets.details.sub-assets" asset.id class="expanded page_tiles"}}
              <label>{{asset.name}}</label>
              <ul>
                  <li>
                    {{#if asset.icon}}
                      {{asset.icon}}
                    {{else}}
                        <img src="/assets/default_asset_icon.jpg">
                    {{/if}}
                  </li>
                  <li>{{format-date asset.date_created}}</li>
                  <li>
                    {{#if asset.is_active}}
                        Status:<span class="is_active"></span>
                    {{else}}
                        Status:<span class="is_inactive"></span>
                    {{/if}}
                  </li>
              </ul>
            {{/link-to}}
          </div>
      </section>
  {{/each}}
</div>