<div class="menu">
  {{#if session.isAuthenticated}}
      <a {{action 'invalidateSession'}}>Logout</a>
    <a {{action 'getSessionInfo'}}>get info</a>
    <a {{action 'getUSer'}}>Current User</a>
    {{#if model.first_name}}
    {{model.first_name}}
  {{else}}
    {{model.email}}
    {{/if}}
  {{/if}}
</div>

<section id="wrapper" class="row">
  {{outlet}}
</section>